body {
  color: #000000;
  background-color: #e52207;
}

.paper {
  @include u-bg("gray-warm-5");
}

#backtop {
  @include u-border("1px", "red-50v", "solid");
  outline: none; /* Remove outline */
  @include u-bg("white");
  @include u-color("red-50v");
  cursor: pointer; /* Add a mouse pointer on hover */
  @include u-padding-y("05");
  @include u-padding-x(1);
  @include u-radius("sm");
  @include u-text("light");
  @include u-font("sans", "sm");
  &:hover {
    span {
      @include u-border-bottom("1px", "red-50v", "solid");
    }
  }
}

.lead a {
  @include u-text("no-underline");
  @include u-border-bottom("2px", "dotted", "secondary-vivid");
}

.rsvp {
  @include u-margin-x("05");
  @include u-padding-x(1);
  @include u-padding-y("05");
  @include u-radius("sm");
  @include u-bg("red-50v");
  @include u-text("white");
  @include u-text("medium");
  @include u-text("no-underline");
  @include u-font("sans", "3xs");
  &:hover {
    @include u-text("white");
    @include u-text("underline");
  }
}

.edit-this {
  @include u-display("none");
  a {
    @include u-padding-x(1);
    @include u-padding-y("05");
    @include u-radius("md");
    @include u-text("no-underline");
    @include u-border("1px", "solid", "secondary-vivid");
    @include u-font("sans", "xs");
  }
}

code {
  @include u-padding-x("05");
  @include u-padding-y("2px");
  @include u-bg("white");
  @include u-border("1px", "solid", "base-lighter");
  @include u-radius("md");
}

.emoji {
  @include u-position("relative");
  @include u-top("05");
}

.note {
  p {
    @include u-margin-y(0);
  }
}

.exhibition-card {
  @include u-bg("gray-warm-5");
  // @include u-cursor("pointer");
  h2 {
    a {
      text-decoration: none;
      @include u-text("gray-cool-80");
      &:hover {
        text-decoration: underline;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
      }
    }
  }
}

// ===========

body.siu8 {
  @include u-text("blue-cool-5");
  a {
    @include u-text("blue-cool-20v");
  }
  .paper {
    background: linear-gradient(160.44deg, #000000 44.27%, #234347 86.9%);
    background-attachment: fixed;
  }
  .hero {
    @include u-bg("black");
  }
  #navigation {
    ul li a {
      @include u-text("blue-cool-20v");
    }
  }
  .media {
    figcaption {
      @include u-text("base-lighter");
    }
  }
}
.siu8.exhibition-card {
  background: linear-gradient(160.44deg, #000000 44.27%, #234347 86.9%);
  background-attachment: fixed;
  @include u-text("blue-cool-5");
  a {
    @include u-text("blue-cool-20v");
  }
}

body.siu9 {
  @include u-text("gray-cool-80");
  .paper {
    @include u-bg("gray-warm-2");
    background: linear-gradient(160.44deg, #f0f0ec 60%, #b1deee 100%);
    background-attachment: fixed;
  }
  .hero {
    // @include u-bg("gray-warm-5");
  }
}

body.siu10 {
  @include u-text("mint-80v");
  .paper {
    @include u-bg("mint-10");
    // background: linear-gradient(160.44deg, #a4d0ad 60%, #68d67c 100%);
    // background-attachment: fixed;
  }
  .lead {
    @include u-text("mint-80v");
  }
  a,
  #navigation ul li a {
    @include u-text("mint-80v");
  }
  .hero {
    // @include u-bg("gray-warm-5");
  }
}
.siu10.exhibition-card {
  @include u-text("mint-80v");
  @include u-bg("mint-10v");
  background: linear-gradient(160.44deg, #f0f0ec 44.27%, #c7efe2 86.9%);
  background-attachment: fixed;
  a {
    @include u-text("mint-80v");
  }
}
