.hero {
  width: 100%;
  @include u-position("relative");
  @include u-text("gray-cool-80");
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .background-video {
    @include u-top(0);
    @include u-bottom(0);
    @include u-right("auto");
    @include u-left("auto");
    @include u-position("absolute");
  }
  @media (min-aspect-ratio: 16/9) {
    .background-video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .background-video {
      width: auto;
      height: 100%;
    }
  }
}

.siu8 {
  .hero {
    @include u-bg("black");
  }
}

.background-video {
  width: 100%;
  height: auto;
}
