<section class="padding-y-4 pin-bottom">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <div class="lead margin-bottom-105 tablet:margin-bottom-3">
          <p class="font-sans-sm tablet-lg:font-sans-lg measure-2 text-medium text-white">Singing in Unison Part 8</p>

          <p class="margin-y-2 line-height-sans-1 font-sans-2xl mobile-lg:font-sans-2xl tablet-lg:margin-y-3 tablet-lg:font-sans-3xl measure-2 text-thin margin-0 text-white text-uppercase">Between Waves</p>

          <p class="margin-0 font-sans-lg tablet:font-sans-lg measure-2 text-light text-white">Curated by Alice, Nien-pu Ko</p>

          <p class="font-sans-md tabletlg:font-sans-lg measure-2 text-light text-white">October 7, 2023 &ndash; January 12, 2024</br>Opening: October 7, 2023 6 &ndash; 9 PM</p>
          
          <p class="font-sans-2xs mobile-lg:font-sans-sm tablet-lg:font-sans-md measure-3 text-light text-white">Featuring work by:<br>
            <span class="text-medium">Martha Atienza, En Man Chang, Yin Ju Chen, Jesse Chun, Miyagi Futoshi, Maya Jefferies, Jane Jin Kaisen, Yuki Kihara, Jia-Jen Lin, Yu Liu, Vandy Rattana, Lisa Reihana, Tita Salina & Irwan Ahmett, Lieko Shiga, Kahurangiariki Smith, Su Yu Hsin, Pagrok Sulap, Hong Kai Wang</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>